.vim/plugged
.vim/spell
.vim/sessions
.DS_Store
.config/nvim/plugged
*.swp
.atom/storage
.atom/compile-cache
.atom/dev
.atom/.npm
.atom/.node-gyp
.atom/packages
.atom/blob-store
.atom/.apm
.vim/bundle/
.config/robomongo
.config/hub
