"*":
  autosave:
    enabled: true
  core:
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontSize: 13
    invisibles: {}
  "exception-reporting":
    userId: "eeca0b30-3052-3250-8bab-d351193aed0f"
  fonts:
    fontFamily: "Droid Sans Mono"
    preview: "testing some font"
  "go-plus":
    goInstallation: "/usr/local/opt/go/libexec/bin"
    goPath: "~/workspace/go"
  welcome:
    showOnStartup: false
